*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* OMGGGGGGGGGGGGGGGGGG, spare me the frustration and pain, jeez louise 

this shouldn't be anywhere near this difficult

what is going on with my brain right now

*/

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255	253	247);
    color: rgb(65	48	37);
}

h1, h2, h3{
    font-family: Roboto; 
    color: rgb(65	48	37);
    font-weight: bold;
}

.price{
    color: rgb(30	68	122);
    font-weight: bold;
}

.header{
    text-align: center;
    padding: 0;
    margin-bottom: 15px;
}

.header h1{
    font-size: 42px;
    margin-bottom: 15px;
}

.header ul{
    list-style: none;
}

.header li{
    display: inline-block;
    margin: 0 15px;
}

.header a{
    text-decoration: none;
    color: rgb(65	48	37);
    font-style: italic;
    font-size: 16px;
   
}


.hero{
    height: 400px;
    background: url("https://images.unsplash.com/photo-1687175452217-e4f8e523b5b5?q=80&w=2370&auto=format&fit=crop");
    background-position: center;

}

.main-content{
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px 20px;
    text-align: center;
}

.main-content h2{
    font-size: 32px;
    margin-bottom: 40px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.three-little-pigs{
    margin-bottom: 60px;
}

.yummy-container{
    float: left;
    width: 31.33%;
    margin: 0 1%;
    background-color: white;
    border: 1px solid black;
    text-align: left;
}

.yummy-container img{
    width: 100%;
    height: 200px; 
    object-fit: cover;
    display: block;
}

.piggy-content{
    padding: 20px;
}

.piggy-content h3{
    font-size: 20px;
    margin-bottom: 10px;
}

.coffee-selection{
    line-height: 2;
    margin-bottom: 30px;
    
}

.footer{
    border-top: 1px solid rgb(30	68	122);
    text-align: center;
    font-size: 14px;
    padding-top: 60px;
    height: 50px;
}